body, html{
    font-family: 'Lato', sans-serif;
    /*color: #747704;*/
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

svg#title-logo {
    fill: black;
    height: 6vw;
    /*margin: 0.5em 0.25em;*/
    margin-top: 20px;
    width: 6vw;
}

hr{
    height: 3px;
    background-color: #7d97ad;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

a, h3{
    color: #2d3c49;
}

.text-muted{
    color: #7d97ad;
}
.text-thin{
    font-weight: 100;
}

.title-super{
    font-size: 50px;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #2d3c49;
    position: relative;
}


.img-responsive{
    max-width: 100%;
}

.container{
     margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
}

section {
  margin: 3vh 0 3vh 0;
}

article {
  display: flex;
  flex-direction: column;
    margin: 0 0 3vh 0;
  /*max-width: 50em;*/
}

img{
    max-width: 100%;
}

footer {
    border-top: 1px solid #E0E0E0;
    padding: 1em;
    width: 100%;
}

footer li {
    display: inline-block;
    margin: 0 1em;
}

footer a {
    text-decoration: none;
    color: #333;
    padding: 1.5em;
}